/* ===============================================
Declaring variables on the :root pseudo-element
================================================ */
:root {
    --infocolor:    #337AB7;
    --successcolor: #5CB85C;
    --dangercolor:  #D9534F;
}

/* ===============================================
Using variables
================================================ */
.info-text {
    color: var(--infocolor);
}
.success-text {
    color: var(--successcolor);
} 
.danger-text {
    color: var(--dangercolor);
}